@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}